.favourites {
  height: 80px;
  width: 79%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-auto-flow: column;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.favourites img {
  height: 70px;
  padding: 5px;
}

.delFavourite {
  opacity: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  margin-left: 45px;
  color: white;
  background-color: black;
}

.delFavourite:hover {
  opacity: 1;
}
