.movieFilters {
  display: grid;
  grid-template-columns: auto 11%;
  height: 500px;
}

.filterContainer fieldset {
  border: none;
}

.filterContainer label {
  margin: 3px;
}

.filterContainer h1 {
  text-align: center;
}

.text-input {
  margin: 4px;
  border-style: solid;
  border-color: gray;
  border-radius: 4px;
  padding: 3px;
  width: 120px;
  background-color: whitesmoke;
}

.clear-filters {
  border: none;
  height: 35px;
  width: 35px;
  margin: 10px;
  background-color: tomato;
  background-image: url("../images/clear-filter.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}
