.MovieV {
  grid-template-columns: auto 40%;
}

.MovieInfo {
  padding: 10px;
  display: grid;
  grid-area: "card info close";
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  overflow: auto;
  height: 500px;
}

.addToFav {
  display: block;
  width: 185px;
  padding: 8px;
  background-color: #43c5c3;
  border: none;
  color: white;
  margin: auto;
}

.addToFav:hover {
  background-color: gray;
}
